/*
 * Styles for main layout page
 */
body {
    padding-top: 50px;
}
.docem-template {
    padding: 40px 15px;
}


/*
 * Styles for the search box
 */
.search-container {
    margin-top: 40px;
    width: 80%;
}


/*
 * Styles for project-list on search page
 */
.project-links {
    border-left: 1px solid #666;
}